<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
    <title>{{ page.title }} | Test Page</title>
    {% else %}
    <title>Test Page: Don't Panic</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="This is a dangerous site.">
    {% endif %}
    <!-- <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
    <script src="https://kit.fontawesome.com/7a73777522.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>